.clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom: 1
}

.tabBar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #8DB6CD
}

.tabBar span {
    background-color: #e8e8e8;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 15px
}

.tabBar span.current {
    background-color: #8DB6CD;
    color: #fff
}

.tabCon {
    display: none
}