<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TableFreeze表格冻结</title>


    <!-- <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" /> -->
    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <!-- <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" /> -->
    <link rel="stylesheet" href="../../css/yuebao/yuebao.css">
    
</head>

<body>
    <div class="text-c">
        <select class="select_search">
            <option value="">项目编号</option>
            <option value="">项目名称</option>
            <option value="">子项编号</option>
            <option value="">子项名称</option>
            <option value="">项目负责人</option>
        </select>
        <input type="text" class="input-text " style="width:120px;">
        <button type="submit" class="btn btn-success" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </div>
    <div class="content">
        <table id="tableMain" border="1">
            <tr class='tabTh'>
                <td class="w-80">序号</td>
                <td class="w-120">项目编号</td>
                <td class="w-200">项目名称</td>
                <td class="w-120">子项编号</td>
                <td class="w-200">子项名称</td>
                <td class="w-150">商务总监</td>
                <td class="w-120">设计总监</td>
                <td class="w-120">项目负责人</td>
                <td class="w-120">月报维护人</td>
                <td class="w-150">项目来源</td>
                <td class="w-120">省份</td>
                <td class="w-120">城市</td>
                <td class="w-120">项目等级</td>
                <td class="w-120">合同签订状态</td>
                <td class="w-150">合同签订时间</td>
                <td class="w-120">产值前置面积类型</td>
                <td class="w-120">产值前置面积(万方)</td>
                <td class="w-120">子项原始合同额(万)</td>
                <td class="w-120">产值前置面积(万方)</td>
                <td class="w-120">子项原始合同额(万)</td>
            </tr>
            <tr align='center'>
                <td>01</td>
                <td><input type="text" class="project_input w-120"></td>
                <td><input type="text" class="project_input w-200" ></td>
                <td><input type="text" class="project_input w-120"></td>
                <td><input type="text" class="project_input w-200"></td>
                <td><div class=" w-140 buss_people" >请选择</input></td>
                <td>1</td>
                <td>it管理员</td>
            </tr>

        </table>
    </div>
    <hr>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="../../js/TableFreeze.js"></script>
    <script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="../../lib/layer/2.4/layer.js"></script>
    <script src="../../js/yuebao/yuebao.js"></script>
    <script type='text/javascript'>
        // window.location.reload();
        
    </script>


</body>

</html>