<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
    <title>公告详情</title>
</head>

<body>
    <pre>
            技术中心以给定条件查询月报中信息，访问系统中项目最新信息，条件如下：
            施工图图审项目满足：
            
            1 存在施工图阶段 
            2 施工图去年完成少于90% 
            3 施工图今年当前完成大于等于50% 
            4 不含长期暂停项目 
            5 设计完成时间预计在8-1到10-30之间 
            6 不含项目负责人归属非gad的子项
            
            项目进度-方案审查需求：
            1 存在方案设计阶段
            2 方案去年设计完成比例为0%
            3 方案今年截止年底设计完成比例不为0%
            4 不含长期暂停项目
            5 方案设计开始时间在2018-8-1以后（以20180827版本月报开始为准）
            6 不含项目负责人归属非gad的子项
    </pre>
    <script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
</body>

</html>