<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../../static/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="../../css/news/news.css">
    <title>最新消息</title>
</head>

<body>
    <div id="tab_demo" class="HuiTab">
        <div class="tabBar clearfix">
            <span>系统公告</span>
            <span>日常公告</span>
        </div>
        <div class="tabCon">
            <table class="table table-border table-bordered table-bg" id="test_table">
                <thead>
                    <tr class="text-c">
                        <th width="12%">序号</th>
                        <th width="12%">栏目</th>
                        <th width="40%">标题</th>
                        <th width="12%">发布时间</th>
                        <th width="12%">发布人</th>
                        <th width="12%">查看次数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-c">
                        <td>1</td>
                        <td>系统公告</td>
                        <td class="sysNotice">月报信息-技术中心查询模块上线</td>
                        <td>2018-09-10 10:32:50</td>
                        <td>管理员</td>
                        <td>115次</td>
                    </tr>
                    <tr class="text-c">
                        <td>2</td>
                        <td>系统公告</td>
                        <td class="sysNotice">人员业绩查询模块试运行</td>
                        <td>2018-08-23 20:34:05</td>
                        <td>管理员</td>
                        <td>445次</td>
                    </tr>
                    <tr class="text-c">
                        <td>3</td>
                        <td>系统公告</td>
                        <td>外包支付模块试运行</td>
                        <td>2018-08-23 20:32:48</td>
                        <td>管理员</td>
                        <td>356次</td>
                    </tr>
                    <tr class="text-c">
                        <td>4</td>
                        <td>系统公告</td>
                        <td>线上系统填写说明ver 1.0</td>
                        <td>2018-05-02 16:24:34</td>
                        <td>管理员</td>
                        <td>563次</td>
                    </tr>

                    <tr class="text-c">
                        <td>5</td>
                        <td>系统公告</td>
                        <td>周报系统试运行</td>
                        <td>2018-04-19 21:28:54</td>
                        <td>管理员</td>
                        <td>215次</td>
                    </tr>
                    <tr class="text-c">
                        <td>6</td>
                        <td>系统公告</td>
                        <td>系统更新1 增加消息模块等</td>
                        <td>2018-04-11 01:10:00</td>
                        <td>管理员</td>
                        <td>566次</td>
                    </tr>
                    <tr class="text-c">
                        <td>7</td>
                        <td>系统公告</td>
                        <td>测试版本月报正式启用</td>
                        <td>2018-04-11 01:03:25</td>
                        <td>管理员</td>
                        <td>142次</td>
                    </tr>
                    <tr class="text-c">
                        <td>8</td>
                        <td>系统公告</td>
                        <td>新增测试版本月报</td>
                        <td>2018-01-05 01:03:33</td>
                        <td>管理员</td>
                        <td>532次</td>
                    </tr>
                    <tr class="text-c">
                        <td>9</td>
                        <td>系统公告</td>
                        <td>产值表填写入口修改，填写界面和权限修改，增加产值表填写状态</td>
                        <td>2017-07-31 01:03:44</td>
                        <td>管理员</td>
                        <td>125次</td>
                    </tr>
                    <tr class="text-c">
                        <td>10</td>
                        <td>系统公告</td>
                        <td>产值表和面积表功能代码更新</td>
                        <td>2017-06-23 01:03:55</td>
                        <td>管理员</td>
                        <td>125次</td>
                    </tr>
                </tbody>


            </table>
            <div id="ele" style="float: right;">
                <div class="Pagination"></div>
            </div>

        </div>
        <div class="tabCon">
            <table class="table table-border table-bordered table-bg" id="test_table">
                <thead>
                    <tr class="text-c">
                        <th width="12%">序号</th>
                        <th width="12%">栏目</th>
                        <th width="40%">标题</th>
                        <th width="12%">发布时间</th>
                        <th width="12%">发布人</th>
                        <th width="12%">查看次数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-c">
                        <td>1</td>
                        <td>日常公告</td>
                        <td>线上系统填写说明ver1.0-补充4-WB等外援/外包子项</td>
                        <td>2018-07-31 17:28:49</td>
                        <td>管理员</td>
                        <td>185次</td>
                    </tr>
                    <tr class="text-c">
                        <td>2</td>
                        <td>日常公告</td>
                        <td>线上系统填写说明ver1.0-补充6-月报中施工图设计时间补充说明</td>
                        <td>2018-07-25 10:35:12</td>
                        <td>管理员</td>
                        <td>45次</td>
                    </tr>
                    <tr class="text-c">
                        <td>3</td>
                        <td>日常公告</td>
                        <td>线上系统填写说明ver1.0-补充5-周报各性质款项信息要素说明</td>
                        <td>2018-07-19 16:50:48</td>
                        <td>管理员</td>
                        <td>123次</td>
                    </tr>
                    <tr class="text-c">
                        <td>4</td>
                        <td>日常公告</td>
                        <td>线上系统填写说明ver1.0-补充3-设计起止日期补充说明</td>
                        <td>2018-05-02 16:24:34</td>
                        <td>管理员</td>
                        <td>523次</td>
                    </tr>

                    <tr class="text-c">
                        <td>5</td>
                        <td>日常公告</td>
                        <td>线上系统填写说明ver1.0-补充2</td>
                        <td>2018-04-19 21:28:54</td>
                        <td>管理员</td>
                        <td>125次</td>
                    </tr>
                    <tr class="text-c">
                        <td>6</td>
                        <td>日常公告</td>
                        <td>线上系统填写说明ver1.0-补充1</td>
                        <td>2018-04-11 01:10:00</td>
                        <td>管理员</td>
                        <td>135次</td>
                    </tr>
                    <tr class="text-c">
                        <td>7</td>
                        <td>日常公告</td>
                        <td>线上系统填写说明ver1.0-补充1</td>
                        <td>2018-04-11 01:03:25</td>
                        <td>管理员</td>
                        <td>125次</td>
                    </tr>
                    <tr class="text-c">
                        <td>8</td>
                        <td>日常公告</td>
                        <td>线上系统填写说明ver1.0</td>
                        <td>2018-01-05 01:03:33</td>
                        <td>管理员</td>
                        <td>124次</td>
                    </tr>
                </tbody>
            </table>
            <div id="ele1" style="float: right;">
                    <div class="Pagination"></div>
                </div>
        </div>
    </div>
    <script type="text/javascript" src="../../lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.js"></script>
    <script src="../../js/pagination.js"></script>
    <script type="text/javascript" src="../../js/news/news.js"></script>

</body>

</html>